.home-hero {
    background: url('/media/home-hero.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    padding-top: 80px;
    color: var(--color-white);
    letter-spacing: 2px;
}

.hero-text {
    color: white;
    font-weight: 900;
}

.hero-small-text {
    color: white;
    font-weight: 500;
}

.shop-now-button {
    padding: 15px;
    color: white;
    border: 2px solid white;
}

.shop-now-button:hover {
    background: white;
}

/* Padel Items */

.padel-items-topic {
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0 2rem 0;
}

.padelrack-picture {
    background: url('/media/Babolat_se_PadelRacket.jpeg') no-repeat center;
    background-size: cover;
    border: 1px black solid;
    border-radius: 10px;
    width: 100%;
    height: 375px;
    padding: 1rem;
    filter: brightness(100%);
}

.padelballs-picture {
    background: url('/media/20-0323_EMEA_Wilsondotcom_Padel_Category_Banners_PD_WB_Balls_FNL.jpeg') no-repeat center;
    background-size: cover;
    border: 1px black solid;
    border-radius: 10px;
    width: 100%;
    height: 375px;
    padding: 1rem;
    filter: brightness(100%);
}

.padelshoes-picture {
    background: url('/media/stycon-500.jpeg') no-repeat center;
    background-size: cover;
    border: 1px black solid;
    border-radius: 10px;
    width: 100%;
    height: 375px;
    padding: 1rem;
    filter: brightness(100%);
}

.padelshoes-picture:hover,
.padelrack-picture:hover,
.padelballs-picture:hover {
    transform: scale(1.03);
    filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.padel-items-text {
    position: absolute;
    bottom: 5%;
    text-transform: uppercase;
    color: white;
}

/* Mail Chimp */

#mc_embed_signup {
    background: rgb(243, 243, 243) !important;
    font: 14px;
    width: 100%;
    padding: 2rem 0 1rem 0;
    margin: 2.5rem 0 2.5rem 0;
}

.referralBadge {
    padding: 10px;
}

@media (max-width: 991px) {
    .home-hero {
        padding-top: 5px;
    }

    .hero-text {
        font-size: 2rem;
    }

    .hero-small-text {
        font-size: 1rem;
    }

    .padelrack-picture,
    .padelballs-picture,
    .padelshoes-picture {
        height: 300px;
    }

    .custom-toast {
        margin-bottom: 1rem;
        max-width: 400px !important;
    }

    .toast-body {
        padding-top: 0.50rem;
    }

    .padel-items-text {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .padelrack-picture,
    .padelballs-picture,
    .padelshoes-picture {
        height: 200px;
    }
}

@media (max-width: 575px) {
    .padelrack-picture,
    .padelballs-picture,
    .padelshoes-picture {
        height: 150px;
    }

    .home-hero {
        height: 350px;
    }

    .hero-text {
        font-size: 1.2rem
    }

    .shop-now-button {
        padding: 8px;
    }

    .padel-items-topic {
        font-size: 1.3rem;
    }

    .padel-items-text {
        font-size: 0.75rem;
    }

    .category-pictures {
        padding-left: 5px;
        padding-right: 5px;
    }

    #mc-embedded-subscribe {
        padding-bottom: 5px;
    }

    .card-img-top {
        padding: 0 6rem 0 6rem;
    }
}