{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <!-- Order success container -->
            {% if from_profile %}
            <h3 class="text-center mb-4 mt-4">ORDER SUMMARY!</h3>
            {% else %}
            <h3 class="text-center mb-4 mt-4">THANK YOU!</h3>
            {% endif %}
            <hr>
            <p>Your order was created on: <span class="blue-text">{{ order.date }}</span></p>
            <p>Your order number: <span class="blue-text">{{ order.order_number }}</span></p>
            {% if from_checkout %}
            <p>We'll email you an order confirmation in a couple of minutes.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if from_profile %}
        <div class="col text-center mb-2 mt-2">
            <a href="{% url 'profile' %}" class="btn btn-outline-dark btn-lg">Back to Profile</a>
        </div>
        {% else %}
        <div class="col text-center mb-2 mt-2">
            <a href="{% url 'home' %}" class="btn btn-outline-dark btn-lg">Keep Shopping</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <div class="order-confirmation">
                <div class="row">
                    <div class="col">
                        <h6 class="success-header">Items you ordered:</h6>
                    </div>
                </div>
                <!-- Items ordered -->
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col">
                        <span class="item-success-text font-weight-bold">
                            {{ item.quantity }}<span class="blue-text"> x</span> {{ item.product.name }}
                        </span>
                        <span class="small">
                            {% if item.product_size %}
                                Size - {{ item.product_size|upper }}
                            {% endif %}
                        </span>
                        <span class="item-success-text"><span class="blue-text"> / </span> €{{ item.product.price | calc_subtotal:item.quantity }}</span>
                    </div>
                </div>
                {% endfor %}
                <!-- Total Price -->
                <div class="row">
                    <div class="col mt-3">
                        <span class="success-text font-weight-bold">Delivery: </span>
                        <span class="success-text"> €{{ order.delivery_cost }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="success-text font-weight-bold">Total: </span>
                        <span class="success-text"> €{{ order.grand_total }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="success-header">We will deliver to:</h6>
                    </div>
                </div>
                <!-- Delivery -->
                <div class="row">
                    <div class="col">
                        <!-- Name -->
                        <span class="success-text font-weight-bold">Name: </span>
                        <span class="success-text"> {{ order.full_name }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Adress -->
                        <span class="success-text font-weight-bold">Address: </span>
                        <span class="success-text"> {{ order.street_address }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Postal Code -->
                        <span class="success-text font-weight-bold">Postal Code: </span>
                        <span class="success-text"> {{ order.postcode }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- City -->
                        <span class="success-text font-weight-bold">City: </span>
                        <span class="success-text"> {{ order.city }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Phone Number -->
                        <span class="success-text font-weight-bold">Phone Number: </span>
                        <span class="success-text"></span> {{ order.phone_number }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}