#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

.admin-order-text {
    margin-bottom: 0 !important;
}

@media (max-width: 575px) {
    .profile-products {
        display: none;
    }

    .update-profile-btn {
        margin-bottom: 0.5rem;
        float: none !important;
    }
}