html, body {
    height: 100%;
}

/* Body to keep footer as sticky */
body {
    color: black;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
  
}

/* To keep footer as sticky */
.main-bg {
    flex: 1 0 auto;
    margin-bottom: 1rem;
}

.text-black {
    color: #000 !important;
}

.border-input {
    border-bottom: 1px solid rgb(19, 17, 17) !important;
    border-left: 1px solid rgb(19, 17, 17) !important;
    border-top: 1px solid rgb(19, 17, 17) !important;
}

.border-icon {
    border-bottom: 1px solid rgb(19, 17, 17) !important;
    border-right: 1px solid rgb(19, 17, 17) !important;
    border-top: 1px solid rgb(19, 17, 17) !important;
}

.bg-black {
    background: #000 !important;
}

.logo-link {
    text-align: center;
}

/* Main logo */

.main-logo-link {
    background: url('/media/z-padel-logo.png') no-repeat center;
    background-size: cover;
    width: 350px;
    height: 90px;
    display: inline-block;
}

/* Top banner */

.text-top-banner {
    padding: 10px;
}

.free-delivery {
    margin: 0 35px 0 35px;
    text-transform: uppercase;
}

.fa-check {
    font-size: 12px;
}

/* Navigation Bar */

.input-group {
    width: 80%;
}

.logo-font {
    text-align: center;
}

.navbar {
    height: 40px;
}

.nav-link {
    padding: 0 0.5rem 0 0.5rem !important;
}

.nav-link:hover {
    border-bottom: 3px solid black;
}

.dropdown-menu {
    min-width: 0 !important;
}

.btn-black:hover {
    background: black;
    color: white;
}

.account-link {
    text-transform: uppercase;
    font-size: 14px;
}

/* Footer */

footer {
    background: rgb(243, 243, 243) !important;
    height: 100px;
    flex-shrink: 0;
}

.footer-topic {
    text-align: center;
    padding: 20px 0 5px 0;
    text-transform: uppercase;
}

.footer-social {
    list-style-type: none;
    text-align: center;
}

.fa-facebook,
.fa-instagram {
    color: black;
    font-size: 25px;
    padding: 0 5px 0 5px;
}

.fa-facebook:hover {
    color: rgb(15, 15, 252);
    transform: scale(1.35);
}

.fa-instagram:hover {
    color: #d60d49;
    transform: scale(1.35);
}

.footer-contact {
    text-align: center;
}

.mail {
    list-style: none;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.fa-envelope {
    font-size: 17px;
    padding-right: 5px;
}

.toast {
    max-width: 300px !important;
}    

.message-container {
    position: fixed;
    top: 130px;
    right: 5px;
    z-index: 99;
}

.message-container {
    align-items: center;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.success-topic {
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 10px;
    padding-left: 10px;
}

.fa-check-circle {
    font-size: 30px;
}

.fa-shopping-cart {
    padding-left: 10px;
}

.toast-body {
    padding-top: 0;
}

@media (max-width: 1380px) {
.message-container {
    position: fixed;
    top: 185px;
    right: 5px;
    z-index: 99;
    }
}

@media (max-width: 991px) {
    .navbar {
        height: 60px;
    }

    .message-container {
        position: unset;
        align-self: center;
        margin-top: 0.5rem;
        }
    }
}