html {
    height: 100%;
}

body {
    color: black;
    font-family: 'Lato';
}

.text-black {
    color: #000 !important;
}

.border-input {
    border-bottom: 2px solid black !important;
    border-left: 2px solid black !important;
    border-top: 2px solid black !important;
}

.border-icon {
    border-bottom: 2px solid black !important;
    border-right: 2px solid black !important;
    border-top: 2px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* Top banner */

.text-top-banner {
    padding: 10px;
}

.free-delivery {
    margin: 0 15px 0 15px;
}

.fa-check {
    font-size: 12px;
}

/* Navigation Bar */

.input-group {
    width: 80%;
}

.logo-font {
    text-align: center;
}

.nav-link:hover {
    border-bottom: 3px solid black;
}

.dropdown-menu {
    min-width: 0 !important;
}

.btn-black:hover {
    background: black;
    color: white;
}