html {
    height: 100%;
}

body {
    color: black;
    font-family: 'Lato';
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* Top banner */

.text-top-banner {
    padding: 10px;
}

.free-delivery {
    margin: 0 15px 0 15px;
}

.fa-check {
    font-size: 12px;
}

.nav-link:hover {
    border-bottom: 3px solid black;
}

.dropdown-menu {
    min-width: 0 !important;
}
