<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="racket-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Racket <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="racket-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="balls-link" aria-haspopup="true" aria-expanded="false">
                Balls
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes-link">
                <a href="" class="dropdown-item">Bed &amp; Bath</a>
                <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="bags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bags-link">
                <a href="" class="dropdown-item">Bed &amp; Bath</a>
                <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="cloths-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cloths <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cloths-link">
                <a href="" class="dropdown-item">Bed &amp; Bath</a>
                <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>