<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="racket-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Racket <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="racket-link">
                <a href="{% url 'products' %}?category=padel_racket_all" class="dropdown-item">All Rackets</a>
                <a href="{% url 'products' %}?category=padel_racket_adidas" class="dropdown-item">Adidas</a>
                <a href="{% url 'products' %}?category=padel_racket_bullpadel" class="dropdown-item ">Bullpadel</a>
                <a href="{% url 'products' %}?category=padel_racket_head" class="dropdown-item ">Head</a>
                <a href="{% url 'products' %}?category=padel_racket_wilson" class="dropdown-item">Wilson</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="{% url 'products' %}?category=padel_balls" id="balls-link" aria-haspopup="true" aria-expanded="false">
                Balls
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="shoes-link">
                <a href="" class="dropdown-item">Man</a>
                <a href="" class="dropdown-item">Woman</a>
                <a href="" class="dropdown-item">Kids</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="bags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="bags-link">
                <a href="" class="dropdown-item">Padel Bag</a>
                <a href="" class="dropdown-item">Case</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="cloths-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cloths <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="cloths-link">
                <a href="" class="dropdown-item">Man</a>
                <a href="" class="dropdown-item">Woman</a>
                <a href="" class="dropdown-item">Hats</a>
                <a href="" class="dropdown-item">Socks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Over Grip</a>
                <a href="" class="dropdown-item">Hesacore</a>
                <a href="" class="dropdown-item">Protection Tape</a>
                <a href="" class="dropdown-item">Specials</a>
            </div>
        </li>
    </ul>
</div>