<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="text-uppercase nav-link text-black mr-5" href="#" id="racket-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Racket <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="racket-link">
                <a href="{% url 'products' %}?category=padel_racket_all" class="dropdown-item">All Rackets</a>
                <a href="{% url 'products' %}?category=padel_racket_adidas" class="dropdown-item">Adidas</a>
                <a href="{% url 'products' %}?category=padel_racket_bullpadel" class="dropdown-item ">Bullpadel</a>
                <a href="{% url 'products' %}?category=padel_racket_head" class="dropdown-item ">Head</a>
                <a href="{% url 'products' %}?category=padel_racket_starvie" class="dropdown-item">Starvie</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="{% url 'products' %}?category=padel_balls" id="balls-link" aria-haspopup="true" aria-expanded="false">
                Balls
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="shoes-link">
                <a href="{% url 'products' %}?category=padel_shoes_all" class="dropdown-item">All Shoes</a>
                <a href="{% url 'products' %}?category=padel_shoes_man" class="dropdown-item">Man</a>
                <a href="{% url 'products' %}?category=padel_shoes_woman" class="dropdown-item">Woman</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="{% url 'products' %}?category=padel_bags_all" id="balls-link" aria-haspopup="true" aria-expanded="false">
                Padel Bags
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="#" id="clothes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothes <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="cloths-link">
                <a href="{% url 'products' %}?category=padel_clothes_all" class="dropdown-item">All Clothes</a>
                <a href="{% url 'products' %}?category=padel_clothes_man" class="dropdown-item">Man</a>
                <a href="{% url 'products' %}?category=padel_clothes_woman" class="dropdown-item">Woman</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font text-uppercase nav-link text-black mr-5" href="{% url 'products' %}?category=padel_accessories_all" id="balls-link" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
        </li>
    </ul>
</div>
