.products-title {
  margin-bottom: 0;
  padding: 10px 0 5px 0;
  min-height: 48px;
  margin: 0 !important;
}

.items-in-cart {
    text-transform: uppercase;
}

.total-container,
.support-container {
    margin-left: 20px;
}

.table td {
    padding: 1.25rem 0.75rem 0 0.75rem;
}

.product-name-link {
    color: #0071EB;
}

.checkout-container {
    padding: 20px;
    text-transform: uppercase;
}

.price-item {
    font-size: 19px;
    margin: 0;
}

.form-control-small {
    width: 50px;
    height: 40px;
}

.trash-delete {
    border: none;
    background: none;
}

.picture-td {
    padding: 0 0.75rem 0 0.75rem
}

@media (max-width: 768px) {
    .product-name-link {
        font-size: 12px;
    }

    .product-price-text {
        font-size: 12px;
    }
    
    .form-control-small {
        width: 35px;
        height: 35px;
    }

    .price-item {
        font-size: 16px;
    }

    .size-text {
        font-size: 13px;
    }

    .picture-td {
        display: none;
    }
}