.products-title {
  margin-bottom: 0;
  padding: 25px 0 5px 0;
  min-height: 48px;
  margin: 0 !important;
}

.items-in-cart {
    text-transform: uppercase;
}

.total-container,
.support-container {
    margin-left: 20px;
}

.form-control {
    text-align: center;
}

.table td {
    padding: 1.25rem 0.75rem 0 0.75rem;
}

.checkout-container {
    padding: 20px;
    text-transform: uppercase;
}

.price-item {
    font-size: 19px;
    margin: 0;
}