{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container add-product-container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h3 class="mb-4">PRODUCT MANAGEMENT</h3>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>
        <!-- Add product form -->
        <div class="row">
            <div class="col-12 text-center">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <hr>
                        <a class="btn btn-outline-dark" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-dark" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}