{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb --> 
                <div class="breadcrumb">
                    <ol class="breadcrumb mt-5">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    {% for category in categories %}
                    <li class="breadcrumb-item"><a href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a></li>
                    {% endfor %}  
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 offset-lg-2">
                <!-- Product image -->
                <div class="image-container">
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Product name -->  
                <div class="product-details-container mt-2">
                    <!-- Product name -->  
                    <h4 class="mb-0">{{ product.name }}<h4>
                    <!-- Product price -->  
                    <p class="lead mb-0 text-left font-weight-bold">€ {{ product.price }}</p>
                    <!-- Admin buttons-->
                    {% if request.user.is_superuser %}
                    <div class="admin-products">
                        <a class="btn btn-outline-primary p-1 mr-1" href="{% url 'edit_product' product.id %}">Edit</a>
                        <a class="btn btn-outline-danger p-1" href="{% url 'delete_product' product.id %}">Delete</a>
                    </div>
                    {% endif %}
                    <hr class="w-100 mb-1">
                </div>
                <!-- Product form -->   
                <form method="POST" action="{% url 'add_to_bag' product.id %}" class="product-form-add">
                    {% csrf_token %}
                    <!-- Size for cloth -->  
                    {% with product.cloth_size as size %}
                        {% if size %}
                            <h6>SIZE</h6>
                            <select class="form-input" name="cloth_size" id='id_cloth_size'>
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        {% endif %}
                    {% endwith %}
                    <!-- Size for man shoes -->  
                    {% with product.shoe_size_man as size %}
                        {% if size %}
                            <h6>SIZE</h6>
                            <select class="form-input" name="shoe_size_man" id='id_shoe_size_man'>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42" selected>42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                            </select>
                        {% endif %}
                    {% endwith %}
                    <!-- Size for woman shoes -->  
                    {% with product.shoe_size_woman as size %}
                        {% if size %}
                            <h6>SIZE</h6>
                            <select class="form-input" name="shoe_size_woman" id='id_shoe_size_woman'>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38" selected>38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                            </select>
                        {% endif %}
                    {% endwith %}         
                    <h6 class="quantity-topic">QUANTITY</h6>
                    <!-- Quantity input-->  
                    <input class="form-input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <div class="form-action">
                            <!-- Buy now button -->  
                            <input type="submit" class="btn btn-add-to-cart" value="BUY NOW">
                            
                        </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                <!-- Safe payment container -->  
                <div class="safe-payment">
                    <h5 class="safe-payment-topic">Secure and reliable payment with</h5>
                    <p class="payment-method"><i class="fab fa-cc-visa"></i> <i class="fab fa-cc-mastercard"></i> <i class="fab fa-cc-stripe"> </i></p>
                </div>
                <!-- Product description text -->  
                <div class="product-description-container">
                    <p class="mt-3">{{ product.description }}</p>
                </div>
            </div>
        </div>
        <!-- Reviews -->  
        <div class="container review-container">
            <div class="row" id="review-box">
                <div class="col-md-12">
                    <form method="GET" action="{% url 'review_rate' product.id %}" class="review-form">
                        {% csrf_token %}
                        <h5 class="review-h5">Leave a review!</h5>
                        <input type="hidden" name="product_id" id="product_id" value="{{product.id}}">
                        <input type="hidden" name="url" value="{{ request.path }}">
                        <textarea class="form-control animated" id="new-review" name="comment" placeholder="Enter your review here and star rating below.." rows="3" required></textarea>
                        <div class="rate">
                            <input type="radio" id="star-5" name="rate" value="5" />
                            <label for="star-5" class="fas fa-star"></label>
                            <input type="radio" id="star-4" name="rate" value="4" />
                            <label for="star-4" class="fas fa-star"></label>
                            <input type="radio" id="star-3" name="rate" value="3" />
                            <label for="star-3" class="fas fa-star"></label>
                            <input type="radio" id="star-2" name="rate" value="2" />
                            <label for="star-2" class="fas fa-star"></label>
                            <input type="radio" id="star-1" name="rate" value="1" />
                            <label for="star-1" class="fas fa-star"></label>
                        </div>
                        <div class="text-right mt-1">
                            {% if request.user.is_authenticated or request.user.is_superuser %}
                            <button class="btn btn-review" type="submit">Save</button>
                            {% else %}
                            <p class="login-text"><a href="{% url 'account_login' %}">Login</a> to write a review</p>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if reviews %}
                        <h5 class="review-h5">Reviews</h5>
                        <hr>
                    {% endif %}
                    {% for review in reviews %}
                        <div class="review-heading">
                            <i class="fa fa-star {% if review.rate > 4 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 3 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 2 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 1 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 0 %} checked {% endif %}"></i>
                            <p class="blue-text admin-order-text"><i class="far fa-user"></i> {{ review.user.username }}</p>
                            <p class="admin-order-text">{{ review.created_at }}</p>
                            <!-- <i class="fa fa-star {% if review.rate > 4 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 3 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 2 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 1 %} checked {% endif %}"></i>
                            <i class="fa fa-star {% if review.rate > 0 %} checked {% endif %}"></i> -->
                        </div>
                        <div class="review-body mt-2">
                            <p>{{ review.comment }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}